@page "/posts/byBlog/{blogId:int}"
@inherits BlogPostsBase

@if(BlogId > 0)
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Posts</h5>
            <PostList BlogId="BlogId"></PostList>
        </div>
    </div>
}