@page "/blogs"
@inherits BlogsBase

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Blogs</h5>
        <BlogList></BlogList>
    </div>
</div>

<a href="/blogs/create" class="btn btn-primary mt-3">
    Create Blog
</a>
