@page "/"

@inherits IndexBase

<div class="card">
    <div class="card-body">
        <h5>Hello!</h5>
        <p>This is the landing page for the public area...</p>

        <p>
            <a href="/admin">Click here</a> for the admin area
        </p>
    </div>
</div>
