<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Title</h4>
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}
