@inherits BlazeButtonBase

<button class="@CssClasses" type="button" @onclick="Click">
    @if (Active)
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    @Label
</button>